* {
    padding: 0;
    margin: 3px;
}

.body {
    
    position: relative;
}

body>ul {
    margin-left: 20px;
}

.myClass {
    background: red;;
}

.green {
    background: green;
}

.infoDiv {
    width: 100px;
    height: 50px;
    position: absolute;
    border: 1px solid black;
    background: yellow;
}

.paragraph{
    cursor: pointer;
    /* padding: 25px; */
    line-height: 25px;
    /* width: 25px; */
}

table{
    border-collapse: collapse;
   
}

tr, td{
    border: 1px solid black;
    width: 25px;
    height: 25px;
    text-align: center;
}

.err-message {
    font-size: 12px;
    color: red;
}

#whether-app {
    margin-top: 20px;
    margin-bottom: 30px;
}

.weather-header {
display: flex;
justify-content: flex-start;
    align-items: center;
}

.weather-header .img-wrapper {
    /* background: no-repeat url('img/1.jpg');
    background-size: cover; */
    width: 50px;
    height: 50px;
}

.weather-header .weather-icon {
    width: 100%;
    margin: 0;
}

#app {
    position: relative;
}

.modal-window.info {
    width: 200px;
    height: 270px;
    left: 50%;
    top: 50%;
    margin: 0 auto;
    background-color: #000;
    color: aliceblue;
    position: absolute;
    transform: translate(-50%, -50%);
}

.modal-window.error {
    width: 300px;
    height: 170px;
    left: 50%;
    top: 50%;
    margin: 0 auto;
    background-color: rgb(176, 176, 176);
    color: rgb(53, 26, 0);
    position: absolute;
    transform: translate(-50%, -50%);
}

.modal-window.info p {
    margin: 0 1em 0.5em 1em;
}

.modal-window.error p {
    margin-top: 0.6em;
    text-align: center;
}

.close {
    width: 1.2em;
    height: 1.2em;
    margin: 1em;
    background-color: aliceblue;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

